langchain-openai>=0.3.0
langchain-groq>=0.2.0
langchain-google-genai>=2.0.0
python-dotenv>=1.0.1

sentence-transformers
chromadb

flask>=2.3.0
flask-cors>=4.0.0

sqlalchemy>=2.0.0
flask-sqlalchemy>=3.0.0

